<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <!-- <ion-menu-button autoHide="true"></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos">
        <ion-img (click)="onClick(photo.webviewPath)" [src]="photo.webviewPath"></ion-img>
      </ion-col>
      <h3 *ngIf="photos.length<=0" class="empty">Wow, So Empty</h3>
    </ion-row>
  </ion-grid>
</ion-content>
